

# Common CMake build directories
build-/*

# Build2 stuff
build/*

# Build2 bdep database
.bdep/

# QtCreator
CMakeLists.txt.user

# CLion
.idea/
cmake-build*/

# VS Code
.vscode/

# VS
.vs/
CMakeSettings.json
out/

# conan
.conan/test_package/build
